// TITLE 1

.c-content-title-1 {
	
	> .c-line-center {
		width: 30px;
		height:3px;
		background-color:#f99d1c;
		margin: 0 auto 30px auto;
	}

	> .c-line-right,
	> .c-line-left {
		width: 30px;
		height:3px;
		background-color:#f99d1c;
		margin: 0 0 30px 0;
	}

	> .c-line-right {
		margin: 0 0 30px auto;
	}

	> h3 { 
		font-size:28px;
		color: $general-head-font-color;
		font-weight:500;  
		margin:0 0 30px 0;

		> i {
			font-size: 22px; 
			color: lighten($general-head-font-color, 30%);
		}

		&.c-font-uppercase {
			font-size: 30px;
		}
	}
	
	> p {
		font-size:17px;
		font-weight: 400;
		color: $general-font-color;
		margin: 30px 0;

		&.c-font-uppercase {
			font-size: 15px;
		}
	}

	> hr {
		margin-bottom: 30px;
	}

	&.c-title-md {

		> .c-line-left,
		> .c-line-center {
			margin-bottom: 20px;
		}	

		> h3 { 
			font-size:22px;
			margin-bottom: 22px;

			> i {
				font-size: 18px; 
				color: lighten($general-head-font-color, 30%);
			}

			&.c-font-uppercase {
				font-size: 20px;
			}
		}

		> p {
			font-size:17px;
			margin: 20px 0;

			&.c-font-uppercase {
				font-size: 14px;
			}
		}
	}

	&.c-title-sm {

		> .c-line-left,
		> .c-line-center {
			margin-bottom: 15px;
		}	

		> h3 { 
			font-size:18px;
			margin-bottom: 15px;

			> i {
				font-size: 16px; 
				color: lighten($general-head-font-color, 30%);
			}

			&.c-font-uppercase {
				font-size: 14px;
			}
		}

		> p {
			font-size: 16px;
			margin: 15px 0;

			&.c-font-uppercase {
				font-size: 14px;
			}
		}
	}

	&.c-opt-1{

		>h3{
			font-size: 32px;
			color:#343a3d;
		}

		> p{
			letter-spacing: 0.5px;
			color:#a0a6ab;
		}
	}
}

// END 