// Header 
$layout_full_page:                                                              'no';  // yes or no
$header_class:																	'7';
$header_desktop-bg-color:														transparent;
$header_desktop-navbar-bg:														transparent;
$header_desktop_border:															0;
$header_min_desktop_border:														0;
$header_min_desktop_shadow:														none;

$brand-link-font-color:  														#ffffff;
$brand-link-font-color-on-hover:  												#ffffff;
$brand-link-active-line:														rgba(#eaf1f2, 0.2);

// Mega Menu
$mega-menu_desktop_primary-link-font-color:										#ffffff; 
$mega-menu_desktop_primary-link-font-color-on-hover:							#ffffff;
$mega-menu_desktop_primary-link-font-color-on-active:							#ffffff;

$mega-menu_desktop_min-header-bg-color:											rgba(#1e242a, 0.82);
$mega-menu_desktop_min-header-primary-link-font-color:							#ffffff;  

@import  '../theme/_header';

@media (min-width: $screen-md-min) { /* 992px */

	.c-layout-header-7{
		.c-quick-search{
			>.form-control{
				color:#fff !important;
				&::-webkit-input-placeholder{
					color:#fff !important;
				}
				&::-moz-placeholder{
					color:#fff !important;
				}
				&::-ms-placeholder{
					color:#fff !important;
				}
				&::placeholder{
					color:#fff !important;
				}
			}
			>span{
				color:#fff !important;
			}
		}
		.c-navbar{
			.c-mega-menu{
				display: block;
				text-align: center;

				.navbar-nav{
					display:inline-block;
					float:none;

					&.c-theme-nav{
						li{
							>.c-link{
								position: relative;
								padding-left:0;
								padding-right: 0;
								margin: 0 15px;
								font-weight: 400;
							}

							&.c-active{
								>.c-link{
									color: $brand-link-font-color !important;

									&:after{
										position: absolute;
										bottom:25px;
										left:0;
										right:0;
										margin: auto;
										content:' ';
										height:2px;
										width: 100%;
										background-color: $brand-link-active-line;
									}
								}
							}

							&:hover,
							&:active{
								>.c-link{
									color: $brand-link-font-color !important;
								}
							}

							&:hover{
								>.c-link{

									&:after{
										position: absolute;
										bottom:25px;
										left:0;
										right:0;
										margin: auto;
										content:' ';
										height:2px;
										width: 100%;
										background-color: $brand-link-active-line;
									}
								}
							}
						}
					}

					&.c-theme-nav-right{
						float:right;
					}

					.dropdown-menu{
						top:auto;
					}
				}
			}
		}
	}

	.c-page-on-scroll .c-layout-header-7{
		.c-navbar{
			.c-mega-menu{
				.navbar-nav{
					&.c-theme-nav{
						li{
							>.c-link{
								padding-left:0;
								padding-right: 0;
							}
							&.c-active{
								>.c-link{
									color: $brand-link-font-color !important;

									&:after{
										bottom:0;
									}
								}
							}
							&:hover{
								>.c-link{
									&:after{
										bottom:0;
									}
								}
							}
						}
					}
				}
			}
		}

	}
}

@media (max-width: $screen-sm-max) { /* 991px */

	.c-layout-header-7{
		.c-mega-menu{
			background-color: #fff;

			.c-line{
				background-color: #f99d1cff;
			}
		}
	}
}