// Header 
$layout_full_page:                                                              'no';  // yes or no
$header_class:																	'3';
$header_desktop-bg-color:														#f99d1cfe;
$header_desktop-navbar-bg:														none;
$header_desktop_border:															0;
$header_min_desktop_border:														0;
$header_min_desktop_shadow:														none;

// Brand
$brand-link-font-color:  														#ebedf2;
$brand-link-font-color-on-hover:  												#ff6b57;

// Mega Menu
$mega-menu_desktop_primary-link-font-color:										#ffffff; 
$mega-menu_desktop_primary-link-font-color-on-hover:							#ffffff;
$mega-menu_desktop_primary-link-font-color-on-active:							#ffffff;  

$mega-menu_desktop_min-header-bg-color:											$header_desktop-bg-color;
$mega-menu_desktop_min-header-primary-link-font-color:							#ffffff;  

@import  '../theme/_header';

@media (min-width: $screen-md-min) { /* 992px */
	
	.c-layout-header.c-layout-header-3.c-layout-header-3-custom-menu {

		.c-navbar {
			.c-mega-menu {
				> .nav.navbar-nav {
					> li {   
						&:focus,
						&:active,
						&:hover,
						&.c-active {					
							> a:not(.btn):not(.c-btn-icon):not(.c-quick-sidebar-toggler) {
								position: relative;
								color: $mega-menu_desktop_primary-link-font-color !important;

								&:before {
									transition: $header_transition;
									
									position: absolute;
									top: 32px;
									content: '';
									width: 15px;
									height: 2px;
									display: block;
									background: $mega-menu_desktop_primary-link-font-color-on-hover; 
								
									.c-page-on-scroll & {
										top: 14px;
										transition: $header_transition;
									}
								}

								> i {
									color: $mega-menu_desktop_primary-link-font-color !important;   
								}
							}

							> a.c-btn-icon { 
								color: $mega-menu_desktop_primary-link-font-color !important; 
							}

							> .c-search-toggler > i {
								color: $mega-menu_desktop_primary-link-font-color !important;
							}

							> .c-quick-sidebar-toggler > .c-line {
								background: $mega-menu_desktop_primary-link-font-color !important;
							}
						}	
					}
				}
			}
		}
	}
}