
.img-magnifier-container {
    position:relative;
    cursor: none;
}
.img-magnifier-container:hover .img-magnifier-glass{
    border: 3px solid #fff;
}

.img-magnifier-glass {

    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 150px;
    height: 150px;
}
.button_glass{
    width:100%;
    background-color:orange;
    color:white;
    border: 1px solid orange;
    transition: all 0.2s;
}
.button_glass:hover{
    background-color:white;
    color:orange;
    border: 1px solid orange;
}

.last_prod_div{
margin-right:0 !important;
margin-left: 0 !important;
    border: 1px solid orange;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.3);
    border-radius:3px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    overflow: hidden;
    transition:all 0.3s;
}
.last_prod_div:hover{
    box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
}
.last_text{

    }
.last_text h1{
    font-size:30px;color:orange;
    padding:5px;
    border-bottom: 1px solid orange;
    text-transform: uppercase;
    margin: 15px;

}
.last_text p{
    font-size:16px;color:gray;
    max-height: 200px;
    margin: 15px;
}
.last_text div {
    margin: 15px;
align-self: bottom;
}
.last_text div button{ width: 100%; padding:15px; background-color:orange; color:white; border-radius:30px; -webkit-border-radius:30px; -moz-border-radius:30px; -ms-border-radius:30px; -o-border-radius:30px; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; border:1px solid orange; outline: none; margin-top: 15px; box-shadow:0 0 1px rgba(0, 0, 0, 0.3);
}
.last_text div button:hover{
  color:orange;
  background-color:white;
  border:1px solid orange;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}
.last_image{
    overflow:hidden;padding:0;
    text-align: center;
}
.last_image img{
    margin:0;height:400px;object-position:center
}
.hover_subhe{
    background-color: transparent;
transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s;
}
.hover_subhe:hover{
 /* font-size:18px !important; */
}
.price_last{
    float: left;
    background-color: #e8e8e8;
    width: 100%;
    text-align: center;
}
.contener{
max-height: 150px;
overflow: hidden;
}
* {
    box-sizing: border-box;
  }

.slider {
      width: 80%;
      height: auto;
      margin:10px auto;
      box-sizing: border-box !important;

  }
  /* .slick-arrow{
  background-color: orange !important;
  } */

  .slick-slide {
    margin: 20px 20px;
  }

  .slick-slide img {
     width: 200px;
     height: 200px;
     /*object-fit: cover;*/
     overflow: hidden;
    border-radius: 50%;
    /*border: 5px solid rgb(255, 182, 48);*/
    /*box-shadow: 0 0 10px rgba(46, 46, 46, 0.623);*/
    transition: all 0.3s;

  }
  .slick-slide img:hover {
      border: 8px solid rgb(245, 161, 6);
  }
  @media only screen and (max-width:1024px){
      .slick-slide img {
     width: 150px;
     height: 150px;
      }
  }
  @media only screen and (max-width:800px){
      .slick-slide img {
     width: 100px;
     height: 100px;
      }
  }

  .slick-prev:before,
  .slick-next:before {
    color: orange !important;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
  }

  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }
  .slick-text{
  width: 100%;
  text-align: center;
  }
  .displayWidth{
  width: auto !important;
  }
  .subhe_cate_fe{
   padding:15px !important;
   background-color: orange !important;
   border: 1px solid orange;
   color:white!important;
   border-radius:40px  ;
   margin: 5px !important;
   -webkit-border-radius:40px  ;
   -moz-border-radius:40px  ;
   -ms-border-radius:40px  ;
   -o-border-radius:40px  ;
}
.subhe_cate_fe:hover{
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
 background-color: white !important;
 border: 1px solid orange;
 color:orange!important;
}
.subhe_cate_fe_active{
    background-color: white !important;
    border: 1px solid orange;
    color:orange!important;
}
.attributes{
    margin-right:0 !important;
    margin-left: 0 !important;
        border: 1px solid #c1bcb4;
        /* box-shadow:0 0 20px rgba(0, 0, 0, 0.6); */
        border-radius:3px ;
        -webkit-border-radius:3px ;
        -moz-border-radius:3px ;
        -ms-border-radius:3px ;
        -o-border-radius:3px ;
        overflow: hidden;
        transition:all 0.3s;
        width: 100%;
}
.attributes:hover{
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.attributes .title_attr{
 width: 100%;
 text-align: center;
 padding: 10px;
 background-color:rgba(128, 128, 128, 0.103);
 box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
 border-bottom: 1px solid #c1bcb4;
}
.title_dec{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color:rgba(128, 128, 128, 0.103);
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #c1bcb4;
    margin: 0;
   }
.attributes .name{
text-align: center;
font-weight:800;
width: 50%;
color:orange;
padding-top: 10px;
padding-bottom: 10px;
display: inline-block;
border-bottom: 1px solid #aaaaaa;
}
.attributes .value{
display: inline-block;
text-align: center;
width: 50%;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #aaaaaa;
}
.small_image img{
    border-bottom: 4px solid orange;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.3);
    border-radius:3px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    overflow: hidden;
    transition:all 0.3s;
    cursor: pointer;

}
.small_image img:hover{
    border-bottom: 4px solid rgb(255, 136, 0);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
    filter: contrast(180%);
}
.offer_text{
padding:5px;
color:white;
margin:0;
display: inline-block;
}
.price_class{
    padding:10px !important;
    background-color: orange !important;
    border: 1px solid orange;
    color:white!important;
    border-radius:40px  ;
    margin: 5px !important;
    width: auto;
    -webkit-border-radius:40px  ;
    -moz-border-radius:40px  ;
    -ms-border-radius:40px  ;
    -o-border-radius:40px  ;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
}
.price_class:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    background-color: white !important;
    border: 1px solid orange;
    color:orange!important;
   }
   .table_unit{
    border-collapse: collapse;
      width:100%;
      background-color:white;
      color:orange;
      text-align: center;
  }
  .table_unit td{
      padding: 10px;
      border-bottom:1px solid orange;
      border-top:1px solid orange;
  }
  .table_cate_type{
    width: 100%;
    text-align: center;
}
.table_cate_type td{
    padding:5px;
    width:25%;
}
@media only screen and (max-width:400px){
body{
    font-size: 12px !important;

}
}
.c-product-short-desc{ margin:20px; padding:25px !important; background-color: white !important; border: 1px solid orange; text-align: start; border-radius:3px; margin: 5px !important; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;
}

.subhe_gallery{ overflow:hidden; border-radius: 5px; box-shadow:0 0 10 rgba(0, 0, 0, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px;
}
.subhe_gal{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -6px;
}
.divsearch{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding:20px;
    text-align: center;
    font-size: 35pt;
    border:1px solid #ccc;
    background-color:white;
    z-index: 99999999;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}
.close_search {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: transparent;
    font-size: 15px;
    border: 1px solid gray;
    transition: all .2s;
}

.close_search:hover {
    background-color: red;
    color: white;
}
.search_mobile{
    border:0;
    display: none;
    background-color: transparent;
}
@media screen and (max-width:600px){

    .search_mobile{
        border:0;
        background-color: transparent;
        display: inline-block;
    }
    .last_image img {
        margin: 0;
     height: auto !important;
     width: 100%;

    }
}
.se_main ,.se1 ,.se2 ,.se3{
    vertical-align:middle;
    overflow: hidden;
}
.se2 p ,.se3 p{
    display: inline-block;
  vertical-align: middle;
}
.se1 img{
    height: 100px;
    width: 100px;
}
.se_main {
 background-color:rgba(204, 204, 204, 0.219);
 border-bottom: 1px solid rgba(221, 147, 11, 0.8);
}
#result{
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    background-color: #f99d1cff !important;
    border-color: #f99d1cff !important;
    color: white !important;
}
.pagination>li>a, .pagination>li>span {

    color: #f99d1cff !important;

}
